

header {
    background-color: rgb(251, 236, 93, 1);
    width: 100%;
    margin: auto;
}

footer{
    background-color: rgb(32,42,68, .7);
    width: 100%;
    position: relative;
    bottom: 0;
}

a:link{
    color: #007BA7;
}

a:visited{
    color: purple;
}

a:hover{
    color: red;
}

a:active {
    color: black;
}

a.current{
    color: black;
    border: 2px solid black;

}

a.current:hover{
    color: red;
}


nav ul{ 
    list-style-type: none;
    
}


p{
    background-color:  rgb(32,42,68, .7);
    color: white;
    margin: auto;
    width: 90%;
    padding-bottom: 5px;

}

div{
        background-color:  rgb(32,42,68, .7);
        color: white;
        margin: auto;
        width: 90%;
        padding-top: 5px;
        padding-bottom: 5px;

}

h2 {
    background-color: rgb(32,42,68, .7);
    width: 90%;
    color: white;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

title{    
    background-color: rgb(251, 236, 93, 1);
    width: 100%;

}

.homepage-image{
    background-color: rgb(251, 236, 93, 1);
    width: 100%;

}
.skip{
    background-color: rgb(251, 236, 93, 1);
    width: 100%;
}

div.main {
    background-color: rgb(251, 236, 93, 1);
    width: 100%;

}

.marketing-image{
    display: grid;
    background-color: white;
    width: 90%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    margin: auto;

}

.strategy-image{
    display: grid;
    background-color: white;
    width: 90%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    margin: auto;

}

body {
    background-image: url('images/about.jpeg');
    background-repeat: no-repeat;
    background-color: rgb(32,42,68, .7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}



img {
    transition:transform 0.25s ease;
    max-width: 250px;
    max-height: 250px;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
}

img:hover{ 
    box-shadow: 5px 5px 5px 5px gray;
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}
.about-image{
    display: grid;
    background-color: white;
    width: 90%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    margin: auto;
}
.about-image img {
    border: 2px dashed navy;
}

.wmg-image {
    display: grid;
    background-color: white;
    width: 90%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-template-columns: 33% 33% 33%;
    margin: auto;

  }

  .item4 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .item5{
    grid-column-start: 1;
    grid-column-end: 3;

  }

  .wmg-image img{
      grid-column: auto;
      max-width: 100%;
      border: 2px dashed navy;
      justify-content: space-evenly;
      align-items: center;

  }

  .client-images {
    display: flex;
    background-color: navy;
    width: 90%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin: auto;
    flex-wrap: wrap;
  }

.client-images img {
    border: 3px inset whitesmoke;
    border-radius: 20px;
}

.welcome-video{
    width: 90%;
    border: 2px inset white;

}

.interest-form{
    overflow: hidden;
    width: 90%;
    border: 2px inset white;
}

@media only screen and (min-width: 500px){
    .wmg-image {
        /*display: grid;*/
        background-color: white;
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        grid-template-columns: 33% 33% 33%;
        margin: auto;
      }

      .item4 {
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .item5{
        grid-column-start: 1;
        grid-column-end: 3;

      }

      .wmg-image img{
        grid-column: auto;
        max-width: 100%;
        border: 2px dashed navy;
        justify-content: space-evenly;
        align-items: center;
  
    }
    
      .client-images {
        /*display: flex;*/
        background-color: white;
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        margin: auto;
        flex-wrap: wrap;
      }  
      
      .client-images img {
        border: 3px inset navy;
        border-radius: 20px;
    }
    nav ul{
        list-style-type: none;
        display: inline;
        width: 100%;
    }

    nav ul li {
        display: inline;
        float: left;
        position: relative;
        top: 5%;
        left: 50%;
    }

    nav ul li a{
        display: inline;
        padding: 8px;
        width: 100%;
        text-align: center;
    }

    .interest-form{
        overflow: hidden;
        width: 90%;
    }

    .welcome-video{
        width: 90%
    
    }

    .about-image{
        /*display: grid;*/
        background-color: white;
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        grid-template-columns: 100%;
        margin: auto;


}
}

@media only screen and (min-width: 750px){
    .wmg-image {
        /*display: grid;*/
        background-color: rgb(255,255,255,.7);
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        grid-template-columns: 18% 18% 18% 18% 18%;
        margin: auto;
        grid-gap: 10px;
      }

      .wmg-image img{
        grid-column: auto;
        max-width: 100%;
        border: 2px dashed navy;
        justify-content: space-evenly;
        align-items: center;
        margin: 20px;
    }
    
      .client-images {
        /*display: flex;*/
        background-color: rgb(255,255,255,.7);
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        margin: auto;
        flex-wrap: wrap;
      }   

      .client-images img {
        border: 3px inset navy;
        border-radius: 20px;
    }

    nav ul{
        list-style-type: none;
        display: inline;
        width: 100%;
    }

    nav ul li {
        display: inline;
        float: left;
        position: relative;
        top: 5%;
        left: 45%;
    }


    nav ul li a{
        display: inline;
        padding: 8px;
        width: 100%;
    }

    .interest-form{
        overflow: visible;
        width: 90%;
    }

    .welcome-video{
        width: 90%
    
    }
    .strategy-image{
       /* display: grid;*/
        background-color: rgb(255,255,255,.5);
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        grid-template-columns: 100%;
        margin: auto;
    
    }

    .about-image{
       /* display: grid;*/
        background-color: rgb(255,255,255,.5);
        width: 90%;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        justify-items: center;
        grid-template-columns: 50% 50%;
        margin: auto;


}

.marketing-image{
    /*display: grid;*/
    background-color: rgb(255,255,255,.5);
    width: 90%;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    grid-template-columns: 100%;
    margin: auto;

}
}
